<!doctype html>
<title>Profiel</title>

<style>
    .dogImg {
        width: 300px;
        height 200px;
    }
</style>

<body>
{% block content %}
    <table>
        <tr>
            <td><img src="/static/dog/{{ dogData.profilepic }}" alt="dog image" class="dogImg"></td>
            <td>{{ dogData.name }}</td>
            <td>{{ dogData.birthday }}</td>
            <td>{{ dogData.race }}</td>
            <td>{{ dogData.character }}</td>
        </tr>
        <tr>
            <td><a href="/dog/{{ dogData.name }}/edit">Profiel Aanpassen</a></td>
        </tr>
    </table>
{% endblock %}

    <br>
    <a href="{{ url_for('dashboard') }}">Dashboard</a>
</body>