{% include 'navbar.html' %}

<title>Profiel {{ session.name }}</title>

{% block content %}
    <body>
        <div class="profile">
            <img src="/static/user/{{ userData.profilepic }}" alt="user image">
            <div>
                <h2>{{ userData.name }}</h2>
                <p>{{ userData.birthday }}</p>
                <a href="{{ url_for('editUserProfile') }}">Aanpassen</a>
            </div>
        </div>

        <div class="addDog">
            <h2>Mijn honden:</h2>
            <a href="{{ url_for('addDog') }}" id="addDogButton">+</a>
        </div>

        <div class="dogList">
            {% for dog in dogs %}
                <div>
                    <img src="/static/dog/{{ dog[3] }}" alt="dog image" class="dogImg">
                    <p>
                        {{ dog[1] }}<br>
                        {{ dog[2] }}<br>
                        {{ dog[4] }}
                    </p>
                </div>
            {% endfor %}
        </div>

        <!--<table>
            <tr>
                <th>Mijn Honden:</th>
            </tr>
            <tr>
                <td><a href="{{ url_for('addDog') }}">Hond toevoegen</a></td>
            </tr>
            {% for dog in dogs %}
            <tr>
                <td><img src="/static/dog/{{ dog[3] }}" alt="dog image" class="dogImg"></td>
                <td>{{ dog[1] }}</td>
                <td>{{ dog[2] }}</td>
                <td>{{ dog[4] }}</td>
                <td>{{ dog[5] }}</td>
                <br>
                <td><a href="/dog/{{ dog[1] }}">Bekijk hond</a></td>
            </tr>
            {% endfor %}
        </table>-->
    </body>
{% endblock %}