{% include 'navbar.html' %}

<title>Doodle Register</title>

{% block content %}
    <body>
        <form action="{{ url_for('register') }}" method=post enctype="multipart/form-data">
            <div class="userForms registerForm">
                <div class="msg">{{ msg }}</div>

                <div>
                    <label for="name">Naam: </label>
                    <input type="text" name="name">
                </div>

                <div>
                    <label for="email">Email: </label>
                    <input type="email" name="email">
                </div>

                <div>
                    <label for="birthday">Geboortedatum: </label>
                    <input type="date" name="birthday">
                </div>

                <div class="fileUpload">
                    <label for="fileUpload">Profiel foto uploaden</label>
                    <input id="fileUpload" type="file" name="profilepic" hidden>
                </div>

                <div>
                    <label for="password">Wachtwoord: </label>
                    <input type="password" name="password">
                </div>

                <div>
                    <label for="confirmpass">Wachtwoord herhalen: </label>
                    <input type="password" name="confirmpass">
                </div>

                <div>
                    <input class="submit" type="submit" value="Sign Up">
                </div>

            </div>
        </form>
    </body>
{% endblock content %}